body {
  font-family: SolaimanLipi !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* TopHeader Start */
.mobile-top-header {
  background: #2A394E;
}

.desktop-top-header {
  background: #1a1a1a;
}

.top_head_left_part .list-inline-item {
  border-right: 1px solid #fff;
}

.top-header .list-inline-item {
  font-size: 14px;
  line-height: 14px;
}

/* TopHeader End */


/* Header Start */
.change_border {
  border-bottom: 2px solid #ccc;
}

#navcol-1 ul.nav-hover li a {
  color: #484848;
}

.nav-link.hide-menu {
  padding: 0px 21px;
  line-height: 50px;
  color: #484848;
  font-weight: 600;
  cursor: pointer;
}

.topMenuWrapper {
  border-bottom: 1px solid #ccc;
}

.topMenuWrapper ul li a {
  color: #484848;
  text-decoration: none;
  font-weight: 600;
  line-height: 35px;
}

/* Header End */

.spacebar {
  margin: 10px 0;
}

/* MAIN START */
.top_lead_card {
  border: none!important;
}

.overlay_lead {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  z-index: 2;
}

#category .top_lead_card .card-title {
  font-size: 20px !important;
}

.top_lead_card_type-2 a {
  color: black !important;
}

.nav-tabs .nav-item {
  width: 50%;
}

.nav-pills .nav-link{
  color: #555;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #3a495e;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3a495e;
}

#category > div.clearfix {
  border-bottom: 1px solid #fe0104;
}

#category > div > a {
  line-height: 36px;
  color: #484848;
  font-size: 24px;
  font-weight: 600;
  padding-left: 2px;
}

#category > div > a span {
  color: #fe0104;
}

.tab-news-title {
  line-height: 22px;
  color: #000;
  font-weight: 600;
}

.description h5{
  font-size: 14px;
  font-style: normal;
  line-height: inherit;
  margin-bottom: auto;
}
/* MAIN END */

/* Footer Start */
#footer_desktop #top-footer {
  background-color: #363d4d;
}

#footer_desktop #top-footer {
  background-color: #363d4d;
}

#footer_desktop #mid-footer {
  background-color: #000;
}

.bottom_menu {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding: 10px 0;
}

.botlink_box {
  width: 100%;
  float: left;
}

.botlink_box ul {
  width: 100%;
  overflow: hidden;
  padding-left: 0px;
}

.botlink_box ul li {
  width: 25%;
  float: left;
  margin: 0 0 3px;
  list-style: none;
}

.botlink_box ul li a {
  font-size: 16px;
  color: #fff;
  line-height: 22px;
}

.botlink_box ul li a:hover {
  color: #1e88e5 !important;
  text-decoration: none !important;
}

#bottom-menu-hidden, #bottom-menu-hidden .d-table-row {
  width: 100%;
}

.editor-link p {
  margin-bottom: 0px;
}

#footer_desktop #bottom-footer {
  font-size: 14px;
}

#footer_desktop #bottom-footer {
  background-color: #363d4d;
}

#footer_desktop #bottom-footer .fa-heart {
  color: #E74C42 !important;
}
/* Footer End */

/* BackTo Top Start */
.back-top {
  position: fixed;
  display: none;
  text-align: center;
  background: none;
  z-index: 9999;
  color: #f3151c;
  width: 40px;
  height: 40px;
  border: 3px solid #f3151c;
  line-height: 30px;
  right: 30px;
  bottom: 50px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.back-top a {
  color: #f3151c;
}
/* BackTo Top End */


@media screen and (min-width: 769px) {
  .mobile-top-header {
    display: none;
  }

  #collapseShareicons {
    display: none;
  }

  #desktop_navbar.navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  #desktop_navbar .navbar .has-megamenu {
    position: static !important;
  }

  #desktop_navbar .navbar .megamenu {
    left: 0;
    top: 99%;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  .header {
    border-bottom: 2px solid #000;
  }

  div.description{
    background: rgba(11, 33, 77,.8);
    display: block;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }

}

@media only screen and (min-width: 992px) {
  div.mobile-navbar {
    display: none;
  }
}